<div class="wrapper" style="padding: 120px 0;" >
  <ul class="breadcrumb-nav list-inline">
    <li><%= link_to "All competitions", competitions_path %></li>
    <li>></li>
    <li><p><%= @competition.name %></p></li>
  </ul>
  <div class="competition-container">

    <div class="competition-image card" style="margin-bottom: 24px;">
      <%= image_tag @competition.image %>
    </div>
    <div class="competition-content card card-info">
      <div class="competition-title">
        <h2><%= @competition.name %></h2>
      </div>
      <div class="competition-info">
        <p><%= @competition.description %></p>
        <br>
      </div>
    </div>
    <div class="competition-event-info card">
      <% if @next_event.nil? %>
        <h2><strong>Next event:</strong> TBC </h2>
      <% else %>
        <h2><strong>Next event:</strong> <%= @next_event.title %></h2>
        <p><strong>Date:</strong> <%= @next_event.time.strftime('%A %e %B %Y at %H:%M') %></p>
        <p><strong>Location:</strong> <%= @next_event.location %></p>

      <% end %>
      <br>
      <div class="divider"></div>
      <h2>Previous events:</h2>

      <% if @previous_events.empty? %>
        <p>No previous events.</p>
      <% else %>
        <% @previous_events.each do |event| %>
          <p><strong>Event:</strong> <%= event.title %></p>
          <p><strong>Date:</strong> <%= event.time.strftime('%A %e %B %Y') %></p>
          <p><strong>Winner:</strong> <%= event.winner %></p>
          <br>
          <div class="divider"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
