<div class="banner fullscreen-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "fitness_4.jpg" %>');">
  <div class="banner-content">
    <h1>Episkopi Station Sports and Fitness Centre</h1>
    <br>
    <p>Soldier Physical Performance Specialists</p>
  </div>
</div>

<section class="overview">
  <div class="overview-cell">
    <div class="overview-icon"><i class="far fa-calendar-alt"></i></div>
    <div class="overview-information">
      <p><strong>Weekly classes</strong></p>
      <p>We offer various classes during the week to meet your physical needs!</p>
      <a href="/">Discover our classes <i class="fas fa-caret-right"></i></a>
    </div>
  </div>
  <div class="overview-cell">
    <div class="overview-icon"><i class="fas fa-dumbbell"></i></div>
    <div class="overview-information">
      <p><strong>Lone Soldier Training Programme</strong></p>
      <p>We can provide various training programmes to help structure your physical training!</p>
      <a href="/">Choose your programme <i class="fas fa-caret-right"></i></a>
    </div>
  </div>
  <div class="overview-cell">
    <div class="overview-icon"><i class="far fa-newspaper"></i></div>
    <div class="overview-information">
      <p><strong>Latest news</strong></p>
      <p>Stay updated with the latest news from the Episkopi Station Gym!</p>
      <a href="/">Find out more <i class="fas fa-caret-right"></i></a>
    </div>
  </div>
</section>

<section class="homepage-section" id="competition-schedule">
  <h2 class="section-title">Competition Schedule</h2>
  <p class="section-description">Episkopi Sports and Fitness Centre organises several challenging competitions for the entire garrison throughout the year.  We aim to foster a healthy competitive ethos among each unit and individual.</p>
  <div class="cards">
    <div class="card">
      <%= image_tag "epi_station_logo.png", style: "object-fit: contain !important" %>
      <div class="card-info">
        <h4>Station Commander's Cup</h4>
        <p>Competition open to all Episkopi-based units.</p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "bfc_crest.jpg", style: "object-fit: contain !important;" %>
      <div class="card-info">
        <h4>BFC Sporting Events</h4>
        <p>A series of team and individual events for all BFC personnel.</p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "champion_company.jpg" %>
      <div class="card-info">
        <h4>Champion Company</h4>
        <p>Every Company in 3 MERCIAN competes for the title of being crowned "Champion Company".</p>
      </div>
    </div>
  </div>
  <%= link_to "Find out more", competitions_path, class: "btn btn-danger grow" %>
</section>

<section class="homepage-section" id="book-fitness-class">
  <h2 class="section-title">Book a sesson</h2>
  <p class="section-description">Our experienced and qualified instructors offer a variety of classes and training sessions to suit all abilities. Find the right session for you.</p>
  <div class="cards">
    <div class="card grow">
      <%= image_tag "fitness_1.jpg" %>
      <div class="card-info">
        <h4>Strength and conditioning</h4>
        <p>EXPLANATION</p>
      </div>
    </div>
    <div class="card grow">
      <%= image_tag "fitness_3.jpg" %>
      <div class="card-info">
        <h4>CrossFit Watchman</h4>
        <p>Allowed to publicise?</p>
      </div>
    </div>
    <div class="card grow">
      <%= image_tag "fitness_3.jpg" %>
      <div class="card-info">
        <h4>Spinning</h4>
        <p>EXPLANATION</p>
      </div>
    </div>
  </div>
  <%= link_to "Book a session", root_path, class: "btn btn-danger grow" %>
</section>

<section class="homepage-section" id="apts">
  <h2 class="section-title">Army Physical Training System (APTS)</h2>
  <p class="section-description">The APTS aims to help you understand your training in order to improve your efficiency and reduce the likelihood of injury.</p>
  <div class="cards">
    <div class="card grow">
      <%= image_tag "fitness_1.jpg" %>
      <div class="card-info">
        <h4>APTS</h4>
        <p>DESCRIPTION</p>
      </div>
    </div>
    <div class="card grow">
      <%= image_tag "fitness_3.jpg" %>
      <div class="card-info">
        <h4>Physical Employment Standards</h4>
        <p>The future of physical assesment.</p>
      </div>
    </div>
    <div class="card grow">
      <%= image_tag "fitness_3.jpg" %>
      <div class="card-info">
        <h4>Lone Soldier Training Programme</h4>
        <p>Customised programmes to aid with your physical training.</p>
      </div>
    </div>
  </div>
  <%= link_to "Find out more", apts_path, class: "btn btn-danger grow" %>
</section>


