<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "fitness_4" %>');">
  <div class="banner-content">
    <h1>Episkopi Station Sports and Fitness Centre</h1>
    <br>
    <p>Soldier Physical Performance Specialists</p>
  </div>
</div>

<div class="overview">
  <div class="overview-cell">
    <div class="overview-icon"><i class="far fa-calendar-alt"></i></div>
    <div class="overview-information">
      <p><strong>Weekly classes</strong></p>
      <p>We offer various classes during the week to meet your physical needs!</p>
      <a href="/">Discover our classes <i class="fas fa-caret-right"></i></a>
    </div>
  </div>
  <div class="overview-cell">
    <div class="overview-icon"><i class="fas fa-dumbbell"></i></div>
    <div class="overview-information">
      <p><strong>Lone Soldier Training Programme</strong></p>
      <p>We can provide various training programmes to help structure your physical training!</p>
      <a href="/">Choose your programme <i class="fas fa-caret-right"></i></a>
    </div>
  </div>
  <div class="overview-cell">
    <div class="overview-icon"><i class="far fa-newspaper"></i></div>
    <div class="overview-information">
      <p><strong>Latest news</strong></p>
      <p>Stay updated with the latest news from the Episkopi Station Gym!</p>
      <a href="/">Find out more <i class="fas fa-caret-right"></i></a>
    </div>
  </div>
</div>

<section class="homepage-section" id="competition-schedule" style="background-color: #FCF5E7">
  <h2 class="section-title">Competition Schedule</h2>
  <p class="section-description">Episkopi Sports and Fitness Centre organises several challenging competitions for the entire garrison throughout the year.  We aim to foster a healthy competitive ethos among each unit and individual.</p>
  <div class="cards">
    <div class="card">
      <%= image_tag "fitness_1" %>
      <h2>Title</h2>
      <div class="card-info">
        <p>Link to</p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "fitness_2" %>
      <div class="info">
        <h2>Title</h2>
      </div>
    </div>
    <div class="card">
      <%= image_tag "fitness_3" %>
      <div class="info">
        <h2>Title</h2>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section" id="book-fitness-class">
  <h2 class="section-title">Book a fitness sesson</h2>
  <p class="section-description">Find the right session for you.</p>
  <div class="cards">
    <div class="card">
      <%= image_tag "fitness_1" %>
      <h2>Title</h2>
      <div class="card-info">
        <p>Link to</p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "fitness_2" %>
      <div class="info">
        <h2>Title</h2>
      </div>
    </div>
    <div class="card">
      <%= image_tag "fitness_3" %>
      <div class="info">
        <h2>Title</h2>
      </div>
    </div>
  </div>
</section>

<section class="homepage-section" id="apts" style="background-color: #FCF5E7">
  <h2 class="section-title">Army Physical Training System (APTS)</h2>
  <p class="section-description">The APTS aims to help you understand your training in order to improve your efficiency and reduce the likelihood of injury.</p>
  <div class="cards">
    <div class="card">
      <%= image_tag "fitness_1" %>
      <h2>Title</h2>
      <div class="card-info">
        <p>Link to</p>
      </div>
    </div>
    <div class="card">
      <%= image_tag "fitness_2" %>
      <div class="info">
        <h2>Title</h2>
      </div>
    </div>
    <div class="card">
      <%= image_tag "fitness_3" %>
      <div class="info">
        <h2>Title</h2>
      </div>
    </div>
  </div>
</section>


